@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body,
.app {
  height: 100%;
  margin: auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #405886;
  color: #ccc;
}

h1 {
  font-size: 30px;
  padding: 2rem;
}

h2 {
  font-size: 24px;
  padding: 0.5rem;
}

h3 {
  font-size: 20px;
  padding: 0.5rem;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  text-align: center;
}

.container {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  transition: background-image 0.5s ease-in-out;
  background: no-repeat center / cover;
}

.header {
  padding: 1rem 1rem 1rem 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.header2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 170px;
  background-color: rgba(69, 89, 133, 0.8);
  color: #f5f5f5c2;
  text-align: center;
  border-radius: 5px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-bottom: 6px;
  margin-left: -85px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.location-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.location-icon {
  height: 32px;
  aspect-ratio: 1;
}

.search-bar {
  display: grid;
  align-items: center;
  margin-right: 1rem;
}

.search-input {
  font-size: 16px;
  padding: 0.5rem;
  border: 1px solid rgba(69, 89, 133, 0.9);
  border-radius: 0.25rem;
  background-color: #f5f5f5;
  width: 100%;
  outline: none;
}

.search-input:focus {
  border: 1px solid rgba(69, 89, 133, 1);
  outline: none;
}

.span-suggestions {
  position: relative;
}

.suggestions-list {
  list-style-type: none;
  position: absolute;
  background-color: rgba(66, 76, 99, 0.9);
  cursor: pointer;
  width: 100%;
  top: 100%;
  left: 0;
  margin-top: 0.1rem;
  border-radius: 0.25rem;
  padding-inline: 0.5rem;
}

.suggestion-item {
  font-size: 16px;
  padding: 0.5rem;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
}

.search-button {
  font-size: 16px;
  background-color: rgba(69, 89, 133, 0.7);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: rgba(69, 89, 133, 0.9);
}

.forecast-container {
  margin: 1rem auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 2rem 1fr; /* 4 rows, 1 for a gap between 2nd and 3rd rows */
  column-gap: 1rem;
  row-gap: 1rem;
}

.weather-now {
  grid-column: span 2;
  grid-row: span 2;
  justify-content: space-evenly;
}

.forecast-hour-list-item {
  justify-content: space-between;
}

.forecast-day-list-item {
  justify-content: space-between;
}

.weather-now,
.forecast-hour-list-item,
.forecast-day-list-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(69, 89, 133, 0.8);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.weather-now:hover,
.forecast-hour-list-item:hover,
.forecast-day-list-item:hover {
  background-color: rgba(69, 89, 133, 0.9);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.status-box {
  align-self: center;
}

.weather-icon,
.weather-icon-big {
  margin: auto;
  display: block;
  filter: invert(90%) brightness(90%) saturate(0%);
  aspect-ratio: 1;
}

.weather-icon-big {
  height: 128px;
}

.weather-icon {
  height: 64px;
}

.status-now {
  font-size: 20px;
}

.status-hourly {
  font-size: 16px;
}

.status-now,
.status-hourly {
  margin: 0;
  padding: 0.5rem;
}

.spacer-row {
  grid-column: span 4;
}

@media screen and (max-width: 900px) {
  .container {
    height: 100%;
  }
  h1 {
    font-size: 24px;
    padding: 2rem;
    margin: 0;
    color: #ccc;
  }
  h2 {
    font-size: 20px;
  }
  h3,
  .status-now {
    font-size: 16px;
  }
  .search-input,
  .suggestion-item,
  .search-button {
    font-size: 14px;
  }
  .header {
    padding: 0.5rem;
    flex-direction: column;
  }
  .header2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
  }
  .forecast-container {
    max-width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding-bottom: 2rem;
  }
  .spacer-row {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .forecast-container {
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .tooltip-text {
    font-size: 12px;
    width: 120px;
    left: 10px;
  }
  .weather-now {
    grid-column: auto;
    grid-row: auto;
  }
  .weather-icon-big {
    height: 64px;
  }
  .location-icon {
    width: 16px;
  }
}

@media screen and (min-width: 1800px) {
  .header {
    padding-left: 20%;
  }
}
